/* body{
    margin: 0;
    padding: 0;
} */
#preloader{
    background: white url(./gif/polished\ loader.gif) no-repeat center;
    background-size: 40%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}