@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


body{
    margin: 0;
    padding: 0;
    /* background-color: #E5E5E5; */
}
#container{
    position: relative;
    width: 100%;
    /* height: 786px; */
    margin: auto;
    /* margin-top: 30px; */
    /* background-color: #FFFFFF; */
}
#right-div{
    display: flex;
    align-items: center;
    position: absolute;
    /* width: 735px; */
    height: 500px;
    left: 683px;
    top: 120px;
    bottom: 20px;
    background-color: #000842;
    border-radius: 15px;
    background: linear-gradient(-45deg, #ee8a6b, #e73c7e, #ee9ebb, #fc2779);
	background-size: 400% 400%;
	animation: gradient 7s ease-in-out infinite;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#right-div>img{
    /* position: relative;
    top: 64px;
    right: 91px;
    left: 123px;
    bottom: 274px; */
    width: 75%;
    margin: auto;
    mix-blend-mode: color-burn;
}
#left-div{
    position: absolute;
    width: 431px;
    height: 635.12px;
    top: 132px;
    right: 874px;
    left: 135px;
    bottom: 132.88px;
    
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
#left-div>div:nth-child(1){
    
    width: 100%;
    margin:0;
    
}

#left-div>p{
    width: 130px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B5B5B5;
    text-align: center;
    
}
#left-div>div:nth-child(4){
    display: flex;
    width: 165px;
    height: 43.12px;
    justify-content: space-between;
    
}

#left-div>div:nth-child(1)>p:nth-child(1){
    width: 102px;
    height: 45px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 22px;
}
#left-div>div:nth-child(1)>p:nth-child(2){
    width: 308px;
    height: 54px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
#left-div>div:nth-child(1) a{
    color: #fc2779;
}

a{
    text-decoration: none;
}

form>input{
    width: 429px;
}

form>div{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #4D4D4D;
    text-decoration: none;
    margin-bottom: 60px;
}
form{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #999999;
}
input{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000842;
    border: none;
    border-bottom: 2px solid #000842;
}
form>p:nth-child(1){
    margin-bottom:11px;
}
form>p:nth-child(2){
    margin-bottom:10px;
}
.f{
    margin-bottom: 10px;
}
/* .f1{
    margin-bottom: 17px;
} */

button,
button::after{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
button::after,button::before{
    background: #fc2779;
    content: '';
    position: absolute;
    z-index: -1;
}
button:hover{
    color: white;
}

button{
    display: block;
    width: 100%;
    height: 53px;
    /* background-color: #fc2779; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 19px;
    line-height: 26px;
    color: black;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    border: 3px solid #fc2779;
    background: none;
    position: relative;
}
.btn-5{
    overflow: hidden;
}
.btn-5::after{
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
    
}
.btn-5:hover:after{
    height: 100%;
    width: 135%;
    
}